@import "tailwindcss";

@layer base {
  html,
  body {
    @apply h-full m-0 p-0;
  }
}

@font-face {
  font-family: "BLMelody";
  src: url("/fonts/BLMelody-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
